@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-size: 30px;
	color: red;
	margin: 20px 40px;
}

ul {
	margin: 20px 40px;
}

li {
	font-size: 18px;
	margin-bottom: 10px;
}

a, p {
	font-size: 18px;
}

p {
	margin: 0 40px;

}

footer {
	text-align: center;
	background: #444;
	color: #fff;
	padding: 20px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.sub-heading {
	margin: 0;
	color: red;
	font-size: 20px;
	margin-bottom: 10px;
}


@media (max-width: 500px){
	p {
		margin-bottom: 20px;
	}
	footer {
		position: static;
	}
	h1 {
		font-size: 24px;
		text-align: center;
		background: #f4f4f4;
		padding: 20px;
	}
	.sub-heading {
		text-align: center;
		font-size: 18px;
		margin-bottom: 10px;
	}
}
